.music-library {
  z-index: 5;
  position: absolute;
  left: -50%;
  width: 30%;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(204,204,204);
  overflow: scroll;
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out;
  opacity: 0;
  border-top-left-radius: 3rem;
  border-bottom-left-radius: 3rem;
  background: rgb(255, 255, 255,0.8);
    h2 {
      font-size: clamp(1rem, 2vw, 3rem);
      padding: 1.5rem 2rem 1rem 3rem;
      border-bottom: 1px solid rgb(204,204,204);
    }
  @media (max-width: 667px) {
    h2 {
      display: none;
    }
  }
}

.music-library-songs {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 3rem;
  cursor: pointer;
  img {
    width: clamp(1rem, 8vw, 10rem);
    height: 100%;
    object-fit: contain;
    border-radius: 5%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1)
  }
  &:hover {
    background: rgba(184, 211, 255, 0.15);
  }
}

.music-song-description {
  padding-left: 1rem;
  font-size: clamp(1rem, 1.2vw, 1.5rem);
    @media (max-width: 834px) {
      display: none;
    }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155,155,155,0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155,155,155,0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: rgba(165,181,228,0.7);
}

.active-library {
  transform: translateX(167%);
  transition: opacity 0.8s ease;
  opacity: 1;
}
